# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods

**.tar.gz
**.tar.xz
Temp/
Products/android/android-toolchain-arm
Products/android/android-ndk-r9b
Products/android/adt-bundle-mac-x86_64-20131030

DemoProject/**/jni/*.so
DemoProject/**/obj/local/*
DemoProject/**/bin/
DemoProject/**/gen/
DemoProject/**/libs/
DemoProject/**/build.xml
DemoProject/**/local.properties
DemoProject/**/proguard-project.txt
DemoProject/**/assets/
build-arm-google-android

build

/DemoProject/BasicQuartzCore/BasicCairo-android/jni/armeabi-v7a/

/DemoProject/BasicQuartzCore/BasicCairo-android/jni/armeabi/

/DemoProject/PureNative/debug/libc.so
/DemoProject/PureNative/debug/libCoreGraphics.so
/DemoProject/PureNative/debug/libCoreText.so
/DemoProject/PureNative/debug/libgnustep-base.so
/DemoProject/PureNative/debug/libobjc.so
/DemoProject/PureNative/debug/libUIKit.so
/DemoProject/PureNative/debug/linker

/DemoProject/PureNative/debug/app_process

/Projects/runtime/dispatch/opengcd-0.2-source.tgz

/Projects/runtime/opengcd-0.2/

/Projects/runtime/objc/libobjc2/

/Projects/dependencies/fontconfig/
/Projects/dependencies/libjpeg-turbo-1.3.0/
/Projects/dependencies/tiff-4.0.3/
/Projects/runtime/dispatch/opengcd-0.2/

/Projects/cairo/cairo-1.12.14/

/Projects/tools/

/Products/android/backup/
