[submodule "Mirai-Foundation"]
	path = Mirai-Foundation
	url = git@github.com:tinyfool/Mirai-Foundation.git
[submodule "Mirai-Toolchains"]
	path = Mirai-Toolchains
	url = git@github.com:tinyfool/Mirai-Toolchains.git
[submodule "Mirai-CoreFoundation"]
	path = Mirai-CoreFoundation
	url = git@github.com:tinyfool/Mirai-CoreFoundation.git
[submodule "Mirai-CoreGraphics"]
	path = Mirai-CoreGraphics
	url = git@github.com:tinyfool/Mirai-CoreGraphics.git
