[submodule "Mirai-Foundation"]
	path = Mirai-Foundation
	url = git@github.com:tinyfool/Mirai-Foundation.git
[submodule "Mirai-Toolchains"]
	path = Mirai-Toolchains
	url = git@github.com:tinyfool/Mirai-Toolchains.git
[submodule "Mirai-CoreFoundation"]
	path = Mirai-CoreFoundation
	url = git@github.com:tinyfool/Mirai-CoreFoundation.git
[submodule "Mirai-CoreGraphics"]
	path = Mirai-CoreGraphics
	url = git@github.com:tinyfool/Mirai-CoreGraphics.git
[submodule "Mirai-CoreText"]
	path = Mirai-CoreText
	url = git@github.com:tinyfool/Mirai-CoreText.git
[submodule "Mirai-OpenGLES"]
	path = Mirai-OpenGLES
	url = git@github.com:tinyfool/Mirai-OpenGLES.git
[submodule "Mirai-QuartzCore"]
	path = Mirai-QuartzCore
	url = git@github.com:tinyfool/Mirai-QuartzCore.git
