//
//  Android-arm.xcconfig
//  UIKitDemo
//
//  Created by Chen Yonghui on 3/30/15.
//  Copyright (c) 2015 Shanghai TinyNetwork Inc. All rights reserved.
//

#include "Android.xcconfig"


TOOLCHAIN_ARCH=arm

ARCHFLAGS=-march=armv7-a -mfloat-abi=softfp -mfpu=vfpv3-d16
ARCHLDFLAGS=-march=armv7-a -Wl,--fix-cortex-a8

OTHER_CFLAGS = $(inherited) $(ARCHFLAGS) $(BASE_CFLAGS)
OTHER_LDFLAGS = $(inherited) $(ARCHLDFLAGS) $(BASE_LDFLAGS)
