//
//  Android.xcconfig
//  UIKit
//
//  Created by Chen Yonghui on 12/6/13.
//  Copyright (c) 2013 Shanghai Tinynetwork Inc. All rights reserved.
//

DEPLOYMENT_LOCATION = YES
DSTROOT = /
INSTALL_PATH = $(SOURCE_ROOT)/../../../Products/android/android-toolchain-arm/sysroot/System/Library/Frameworks/
