{
    ACST = "Brazil/Acre";
    ACT = "Brazil/Acre";
    ADDT = "America/Goose_Bay";
    ADMT = "Africa/Addis_Ababa";
    ADT = "America/Halifax";
    AFT = "Asia/Kabul";
    AHDT = "US/Alaska";
    AHST = "US/Aleutian";
    AKDT = "America/Juneau";
    AKST = "America/Juneau";
    AKTST = "Asia/Aqtobe";
    AKTT = "Asia/Aqtobe";
    ALMST = "Asia/Almaty";
    ALMT = "Asia/Almaty";
    AMST = "Asia/Yerevan";
    AMT = "Asia/Yerevan";
    ANAST = "Asia/Anadyr";
    ANAT = "Asia/Anadyr";
    ANT = "America/Aruba";
    AOT = "Africa/Luanda";
    APT = "Canada/Atlantic";
    AQTST = "Asia/Aqtau";
    AQTT = "Asia/Aqtau";
    ARST = "Antarctica/Palmer";
    ART = "Antarctica/Palmer";
    ASHST = "Asia/Ashgabat";
    ASHT = "Asia/Ashgabat";
    AST = "America/Halifax";
    AWT = "Canada/Atlantic";
    AZOMT = "Atlantic/Azores";
    AZOST = "Atlantic/Azores";
    AZOT = "Atlantic/Azores";
    AZST = "Asia/Baku";
    AZT = "Asia/Baku";
    BAKST = "Asia/Baku";
    BAKT = "Asia/Baku";
    BDST = "Asia/Dhaka";
    BDT = "Asia/Dhaka";
    BEAT = "Africa/Kampala";
    BEAUT = "Africa/Dar_es_Salaam";
    BMT = "Asia/Bangkok";
    BNT = "Asia/Brunei";
    BORT = "Asia/Kuching";
    BORTST = "Asia/Kuching";
    BOST = "America/La_Paz";
    BOT = "America/La_Paz";
    BRST = "Brazil/East";
    BRT = "Brazil/East";
    BST = "Pacific/Midway";
    BTT = "Asia/Thimphu";
    BURT = "Asia/Kolkata";
    CANT = "Atlantic/Canary";
    CAPT = "US/Alaska";
    CAST = "Antarctica/Casey";
    CAT = "US/Alaska";
    CAWT = "US/Alaska";
    CCT = "Indian/Cocos";
    CDDT = "America/Rankin_Inlet";
    CDT = "America/Chicago";
    CEMT = "Europe/Berlin";
    CEST = "Europe/Rome";
    CET = "Europe/Rome";
    CGST = "America/Scoresbysund";
    CGT = "America/Scoresbysund";
    CHADT = "Pacific/Chatham";
    CHAST = "Pacific/Chatham";
    CHAT = "Asia/Harbin";
    CHDT = "America/Belize";
    CHOST = "Asia/Choibalsan";
    CHOT = "Asia/Choibalsan";
    CHUT = "Pacific/Yap";
    CIT = "Asia/Ujung_Pandang";
    CJT = "Asia/Sakhalin";
    CKHST = "Pacific/Rarotonga";
    CKT = "Pacific/Rarotonga";
    CLST = "Chile/Continental";
    CLT = "Chile/Continental";
    CMT = "Europe/Tiraspol";
    COST = "America/Bogota";
    COT = "America/Bogota";
    CPT = "Canada/Central";
    CST = "America/Chicago";
    CUT = "Europe/Zaporozhye";
    CVST = "Atlantic/Cape_Verde";
    CVT = "Atlantic/Cape_Verde";
    CWST = "Australia/Eucla";
    CWT = "Canada/Central";
    CXT = "Indian/Christmas";
    ChST = "Pacific/Saipan";
    DACT = "Asia/Dhaka";
    DAVT = "Antarctica/Davis";
    DDUT = "Antarctica/DumontDUrville";
    DMT = "Europe/Dublin";
    DUSST = "Asia/Dushanbe";
    DUST = "Asia/Dushanbe";
    EASST = "Pacific/Easter";
    EAST = "Pacific/Easter";
    EAT = "Indian/Mayotte";
    ECT = "Pacific/Galapagos";
    EDDT = "America/Iqaluit";
    EDT = "America/New_York";
    EEST = "Europe/Warsaw";
    EET = "Europe/Warsaw";
    EGST = "America/Scoresbysund";
    EGT = "America/Scoresbysund";
    EHDT = "America/Santo_Domingo";
    EIT = "Asia/Jayapura";
    EMT = "Pacific/Easter";
    EPT = "Canada/Eastern";
    EST = "America/New_York";
    EWT = "Canada/Eastern";
    FET = "Europe/Minsk";
    FFMT = "America/Martinique";
    FJST = "Pacific/Fiji";
    FJT = "Pacific/Fiji";
    FKST = "Atlantic/Stanley";
    FKT = "Atlantic/Stanley";
    FMT = "Atlantic/Madeira";
    FNST = "Brazil/DeNoronha";
    FNT = "Brazil/DeNoronha";
    FORT = "Asia/Aqtau";
    FRUST = "Asia/Bishkek";
    FRUT = "Asia/Bishkek";
    GALT = "Pacific/Galapagos";
    GAMT = "Pacific/Gambier";
    GBGT = "America/Guyana";
    GEST = "Asia/Tbilisi";
    GET = "Asia/Tbilisi";
    GFT = "America/Cayenne";
    GHST = "Africa/Accra";
    GILT = "Pacific/Tarawa";
    GMT = GMT;
    "GMT+0" = "GMT+0";
    "GMT+1" = "GMT+1";
    "GMT+10" = "GMT+10";
    "GMT+11" = "GMT+11";
    "GMT+12" = "Etc/GMT+12";
    "GMT+13" = "GMT+13";
    "GMT+14" = "GMT+14";
    "GMT+2" = "Etc/GMT+2";
    "GMT+3" = "Etc/GMT+3";
    "GMT+4" = "GMT+4";
    "GMT+5" = "GMT+5";
    "GMT+6" = "GMT+6";
    "GMT+7" = "GMT+7";
    "GMT+8" = "GMT+8";
    "GMT+9" = "GMT+9";
    "GMT-0" = "GMT-0";
    "GMT-1" = "GMT-1";
    "GMT-10" = "GMT-10";
    "GMT-11" = "GMT-11";
    "GMT-12" = "Etc/GMT-12";
    "GMT-13" = "GMT-13";
    "GMT-14" = "Etc/GMT-14";
    "GMT-2" = "GMT-2";
    "GMT-3" = "GMT-3";
    "GMT-4" = "GMT-4";
    "GMT-5" = "GMT-5";
    "GMT-6" = "Etc/GMT-6";
    "GMT-7" = "GMT-7";
    "GMT-8" = "GMT-8";
    "GMT-9" = "GMT-9";
    GMT0 = GMT0;
    GST = "Pacific/Guam";
    GYT = "America/Guyana";
    HADT = "US/Aleutian";
    HAST = "US/Aleutian";
    HDT = "Pacific/Honolulu";
    HKST = "Asia/Hong_Kong";
    HKT = "Asia/Hong_Kong";
    HMT = "Asia/Kolkata";
    HOVST = "Asia/Hovd";
    HOVT = "Asia/Hovd";
    HPT = "Pacific/Honolulu";
    HST = "Pacific/Honolulu";
    HWT = "Pacific/Honolulu";
    ICT = "Asia/Ho_Chi_Minh";
    IDDT = "Asia/Jerusalem";
    IDT = "Asia/Jerusalem";
    IHST = "Asia/Colombo";
    IMT = "Asia/Irkutsk";
    IOT = "Indian/Chagos";
    IRDT = "Asia/Tehran";
    IRKST = "Asia/Irkutsk";
    IRKT = "Asia/Irkutsk";
    IRST = "Asia/Tehran";
    ISST = "Atlantic/Reykjavik";
    IST = "Asia/Katmandu";
    JAVT = "Asia/Jakarta";
    JDT = "Asia/Tokyo";
    JMT = "Asia/Jakarta";
    JST = "Asia/Tokyo";
    KART = "Asia/Karachi";
    KAST = "Asia/Kashgar";
    KDT = ROK;
    KGST = "Asia/Bishkek";
    KGT = "Asia/Bishkek";
    KIZST = "Asia/Qyzylorda";
    KIZT = "Asia/Qyzylorda";
    KMT = "Europe/Kiev";
    KOST = "Pacific/Kosrae";
    KRAST = "Asia/Novokuznetsk";
    KRAT = "Asia/Novokuznetsk";
    KST = ROK;
    KUYST = "Europe/Samara";
    KUYT = "Europe/Samara";
    KWAT = "Pacific/Kwajalein";
    LHST = "Australia/Lord_Howe";
    LINT = "Pacific/Kiritimati";
    LKT = "Asia/Colombo";
    LMT = "Pacific/Gambier";
    LONT = "Asia/Chungking";
    LRT = "Africa/Monrovia";
    LST = "Europe/Riga";
    MADMT = "Atlantic/Madeira";
    MADST = "Atlantic/Madeira";
    MADT = "Atlantic/Madeira";
    MAGST = "Asia/Magadan";
    MAGT = "Asia/Magadan";
    MALST = "Asia/Kuala_Lumpur";
    MALT = "Asia/Kuala_Lumpur";
    MART = "Pacific/Marquesas";
    MAWT = "Antarctica/Mawson";
    MDDT = "America/Cambridge_Bay";
    MDST = "W-SU";
    MDT = "America/Denver";
    MEST = MET;
    MET = MET;
    MHT = "Pacific/Majuro";
    MIST = "Antarctica/Macquarie";
    MMT = "Asia/Ujung_Pandang";
    MOST = "Asia/Macau";
    MOT = "Asia/Macau";
    MPT = "Pacific/Saipan";
    MSD = "Europe/Moscow";
    MSK = "Europe/Moscow";
    MST = "America/Denver";
    MUST = "Indian/Mauritius";
    MUT = "Indian/Mauritius";
    MVT = "Indian/Maldives";
    MWT = MST7MDT;
    MYT = "Asia/Kuala_Lumpur";
    MeST = "America/Metlakatla";
    NCST = "Pacific/Noumea";
    NCT = "Pacific/Noumea";
    NDDT = "Canada/Newfoundland";
    NDT = "Pacific/Midway";
    NEGT = "America/Paramaribo";
    NEST = "Europe/Amsterdam";
    NET = "Europe/Amsterdam";
    NFT = "Pacific/Norfolk";
    NMT = "Pacific/Norfolk";
    NOVST = "Asia/Novokuznetsk";
    NOVT = "Asia/Novokuznetsk";
    NPT = "Asia/Katmandu";
    NRT = "Pacific/Nauru";
    NST = "Pacific/Midway";
    NUT = "Pacific/Niue";
    NWT = "Canada/Newfoundland";
    NZDT = "Pacific/Auckland";
    NZMT = "Pacific/Auckland";
    NZST = "Pacific/Auckland";
    OMSST = "Asia/Omsk";
    OMST = "Asia/Omsk";
    ORAST = "Asia/Oral";
    ORAT = "Asia/Oral";
    PDDT = "America/Inuvik";
    PDT = "America/Los_Angeles";
    PEST = "America/Lima";
    PET = "America/Lima";
    PETST = "Asia/Kamchatka";
    PETT = "Asia/Kamchatka";
    PGT = "Pacific/Port_Moresby";
    PHOT = "Pacific/Enderbury";
    PHST = "Asia/Manila";
    PHT = "Asia/Manila";
    PKST = "Asia/Karachi";
    PKT = "Asia/Karachi";
    PMDT = "America/Miquelon";
    PMST = "America/Miquelon";
    PMT = "Asia/Pontianak";
    PNT = "Pacific/Pitcairn";
    PONT = "Pacific/Ponape";
    PPMT = "America/Port-au-Prince";
    PPT = "Canada/Pacific";
    PST = "America/Los_Angeles";
    PWT = "Pacific/Palau";
    PYST = "America/Asuncion";
    PYT = "America/Asuncion";
    QMT = "America/Guayaquil";
    QYZST = "Asia/Qyzylorda";
    QYZT = "Asia/Qyzylorda";
    RET = "Indian/Reunion";
    RMT = "Asia/Rangoon";
    ROTT = "Antarctica/Rothera";
    SAKST = "Asia/Sakhalin";
    SAKT = "Asia/Sakhalin";
    SAMST = "Asia/Samarkand";
    SAMT = "Pacific/Samoa";
    SAST = "Africa/Johannesburg";
    SBT = "Pacific/Guadalcanal";
    SCT = "Indian/Mahe";
    SDMT = "America/Santo_Domingo";
    SGT = "Asia/Singapore";
    SHEST = "Asia/Aqtau";
    SHET = "Asia/Aqtau";
    SJMT = "America/Costa_Rica";
    SLST = "Africa/Freetown";
    SMT = "Asia/Kuala_Lumpur";
    SRT = "America/Paramaribo";
    SST = "Pacific/Midway";
    STAT = "Europe/Volgograd";
    SVEST = "Asia/Yekaterinburg";
    SVET = "Asia/Yekaterinburg";
    SWAT = "Africa/Windhoek";
    SYOT = "Antarctica/Syowa";
    TAHT = "Pacific/Tahiti";
    TASST = "Asia/Tashkent";
    TAST = "Asia/Samarkand";
    TBIST = "Asia/Tbilisi";
    TBIT = "Asia/Tbilisi";
    TBMT = "Asia/Tbilisi";
    TFT = "Indian/Kerguelen";
    TJT = "Asia/Dushanbe";
    TKT = "Pacific/Fakaofo";
    TLT = "Asia/Dili";
    TMT = "Asia/Tehran";
    TOST = "Pacific/Tongatapu";
    TOT = "Pacific/Tongatapu";
    TRST = "Asia/Istanbul";
    TRT = "Asia/Istanbul";
    TRUT = "Pacific/Yap";
    TSAT = "Europe/Volgograd";
    TVT = "Pacific/Funafuti";
    UCT = UCT;
    ULAST = "Asia/Ulaanbaatar";
    ULAT = "Asia/Choibalsan";
    URAST = "Asia/Oral";
    URAT = "Asia/Oral";
    URUT = "Asia/Urumqi";
    UTC = UTC;
    UYHST = "America/Montevideo";
    UYST = "America/Montevideo";
    UYT = "America/Montevideo";
    UZST = "Asia/Samarkand";
    UZT = "Asia/Samarkand";
    Universal = Universal;
    VET = "America/Caracas";
    VLASST = "Asia/Vladivostok";
    VLAST = "Asia/Vladivostok";
    VLAT = "Asia/Vladivostok";
    VOLST = "Europe/Volgograd";
    VOLT = "Europe/Volgograd";
    VOST = "Antarctica/Vostok";
    VUST = "Pacific/Efate";
    VUT = "Pacific/Efate";
    WAKT = "Pacific/Wake";
    WARST = "America/Mendoza";
    WART = "America/Mendoza";
    WAST = "Africa/Ndjamena";
    WAT = "Africa/Conakry";
    WEMT = "Europe/Paris";
    WEST = "Europe/Paris";
    WET = "Europe/Paris";
    WFT = "Pacific/Wallis";
    WGST = "America/Godthab";
    WGT = "America/Godthab";
    WIT = "Asia/Jakarta";
    WMT = "Europe/Warsaw";
    WSDT = "Pacific/Apia";
    WST = "Pacific/Apia";
    YAKST = "Asia/Yakutsk";
    YAKT = "Asia/Yakutsk";
    YDDT = "Canada/Yukon";
    YDT = "America/Yakutat";
    YEKST = "Asia/Yekaterinburg";
    YEKT = "Asia/Yekaterinburg";
    YERST = "Asia/Yerevan";
    YERT = "Asia/Yerevan";
    YPT = "Canada/Yukon";
    YST = "America/Yakutat";
    YWT = "Canada/Yukon";
    Zulu = Zulu;
    zzz = "Asia/Riyadh89";
}